# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
cypress/videos
cypress/screenshots

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#test to run all tests
npx cypress run --record --key a8e1c19c-42b5-47bf-876f-7a89df1fc4fe
