nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li{
  cursor: pointer;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
  list-style-type: none;
}

nav li:hover {
  display: block;
  color: white;
  text-decoration:underline;
  font-size: 20px;
}

#about + #resume + #projects + #contactMe {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 32px;
  font-weight: bold;
}