/*color for the navbar*/
.header-color {
  background: #073ff7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #88c0e6, #51a4e7, #2b77be);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #88c0e6, #51a4e7, #2b77be); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*homepage design*/
.landing-grid {
  background: #073ff7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #88c0e6, #51a4e7, #2b77be);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #88c0e6, #51a4e7, #2b77be); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 40px;
  margin-top: 15px;
}

.banner-text h1{
  font-size: 50px;
  font-weight: bold;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.banner-text h2 {
  font-size: 35px;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.banner-text i{
  font-size: 22px;
  text-align: center;
  padding-right: 7px;
}

.banner-text hr {
  border-top: 3px dashed white;
  width: 80%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1.5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.social-links {
  display: flex;
  width: 90%;
  margin: auto;
  padding-bottom: -38px;
}

.social-links i {
  color: white;
  font-size: 45px;
  padding:13.5px;
}

@media screen and (min-width: 812px){
  .banner-text{
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 55px;
  }

  .banner-text h1{
    font-size: 66px;
  }

  .banner-text h2{
    font-size: 66px;
    padding-top:10px;
    padding-bottom: 10px;
  }


  .banner-text i{
    font-size: 22px;
    text-align: center;
    padding-right: 7px;
  }

  .social-links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    font-size: 50px;
    padding-bottom: 20px;
  }

  .social-links i {
    color: white;
    font-size: 70px;
    padding: 5px;
  }

  .banner-text hr {
    border-top: 3px dashed white;
    width: 70%;
    margin: auto;
  }
}


/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}

.developerStory{
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info{
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.answer{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.me{
  width: 300px;
  height: 350px;
  padding-left: 20px;
  border-radius: 100px;
}

.languages{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  padding-bottom: 20px;
  padding-left: 16px;
}

@media screen and (min-width: 812px){
  .me{
  width: 500px;
  height: 550px;
  border-radius: 50px;
  }

  .languages{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding-bottom: 20px;
  }

}


/*project page*/

.projects-grid{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  padding-top: 10px;
}

/*dont change section responsive for desktop to phone*/
@media screen and (min-width: 812px){
  .projects-grid{
    width:100%;
    height: 100%;
    flex-direction:row;
    margin-left: 350px;
    margin-top: 30px;
  }
}
/*dont change section responsive for desktop to phone*/


/* contact page css */

.container{
  border-radius: 5px;
  background-color: #f2f2f2;
  height:100%;
}

.contact-title{
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  margin: 7px;
}

input, textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.button{
  width:30%;
  background-color: #45d7fc;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.button:hover{
  background-color: #4da4ddd0;
}

@media screen and (min-width: 768px){
  .contact-list{
    height: 100%;
  }
}

